<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavado de autos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/resenias.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/44f557ccce.js"></script>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>





<body>
    <section id="header">
        <div class="Container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="Container">
                    <a href="#" class="navbar-brand"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>

                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="{% url 'IND' %}" class="nav-link">Inicio</a>
                            </li>



                            <li class="nav-item ">
                                <a href="{% url 'REGI' %}" class="nav-link">Registrarse</a>
                            </li>

                            
                            <li class="nav-item ">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'LOGOUT' %}"class="nav-link">Cerrar Sesion</a>
                                {% else %}
                                    <a href="{% url 'LOGI' %}" class="nav-link">Login</a>
                                {% endif %}
                            </li>

                            <li class="nav-item ">
                                <a href="{% url 'UBIC' %}" class="nav-link">Ubicación</a>
                            </li>


                            <li class="nav-item ">
                                <a href="{% url 'GALE' %}" class="nav-link">Galeria</a>
                            </li>



                            <li class="nav-item active">
                                <a href="{% url 'RESE' %}" class="nav-link">Reseñas</a>
                            </li>



                            <li class="nav-item ">
                                <a href="{% url 'MISI' %}" class="nav-link">Nosotros</a>
                            </li>


                            
                            <li class="nav-item ">
                                <a href="{% url 'INSU' %}" class="nav-link">Insumos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="nav-item-welcome" style='color:white'>
                {% if user.is_authenticated %}
                <p>Bienvenido: {{user.first_name}} {{user.last_name}} - <b>{{user.username}}</b> </p>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container">

            <div class="rev-section">

                <h2 class="title">Reseñas de nuestros clientes</h2>
                <p class="note">Porque damos el mejor servicio de limpieza a nuestros clientes.</p>

                <div class="reviews">

                    <div class="review">
                        <div class="head-review">
                            <img src="{% static 'img/001-brake disc.png' %}" width="250px">
                        </div>
                        <div class="body-review">
                            <div class="name-review">Luciano Fernandez</div>
                            <div class="place-review">La Florida</div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half"></i>
                            </div>
                            <div class="desc-review">Fuí a cambiar mis neumaticos y todo perfecto.</div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="head-review">
                            <img src="{% static 'img/005-car service.png'%}" width="250px">
                        </div>
                        <div class="body-review">
                            <div class="name-review">Kevin Taucan</div>
                            <div class="place-review">Puente alto</div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="desc-review">Excelente servicio de limpieza, mi auto quedo muy bien.</div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="head-review">
                            <img src="{% static 'img/021-seat.png'%}" width="250px">
                        </div>
                        <div class="body-review">
                            <div class="name-review">Ian Jorquera</div>
                            <div class="place-review">Providencia</div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half"></i>
                            </div>
                            <div class="desc-review">Fui por lavado interior de asientos, servicio excelente.</div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </section>

    <footer>

        <div class="container-footer-all">

            <div class="container-body">

                <div class="columa1">
                    <h1>Mas informacion de la compañia</h1>

                    <p>Esta compañia familiar se dedica a la limpieza de autos, siempre dando el mejor servicio hacia sus clientes.</p>

                </div>

                <div class="columa2">

                    <h1>Redes Sociales</h1>

                    <div class="rowa">
                        <img src="{% static 'img/facebook.png' %}">
                        <label>Siguenos en Facebook</label>
                    </div>

                    <div class="rowa">
                        <img src="{% static 'img/instagram.png' %}">
                        <label>Siguenos en Instagram</label>
                    </div>
                    <div class="rowa">
                        <img src="{% static 'img/whatsapp.png' %}">
                        <label>Contactanos en Whatsapp</label>
                    </div>



                </div>

                <div class="columa3">

                    <h1>Informacion Contactos</h1>

                    <div class="rowa2">
                        <img src="{% static 'img/house.png' %}">
                        <label>Avenida Concha Y Toro, Av. San Carlos 1340, Puente Alto, Región Metropolitana</label>
                    </div>

                    <div class="rowa2">
                        <img src="{% static 'img/smartphone.png' %}">
                        <label>+569 55119044</label>
                    </div>

                    <div class="rowa2">
                        <img src="{% static 'img/contact.png' %}">
                        <label>LDA.DonMiguel@gmail.com</label>
                    </div>

                </div>

            </div>

        </div>

        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    © 2020 Todos los Derechos Reservados | <a href="">Lavados de autos Don Miguel</a>
                </div>

                <div class="information">
                    <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                </div>
            </div>

        </div>

    </footer>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>